extends ../layout

block content
    form(action='add')
        div
            p
                input.addCarSubmit(type='submit', value='Add Car')
        br    
        div
            each mark in marks
                div.button_links
                    form(action='/cars/marks/delete', method='POST')
                        a.allLinks(href="/cars/marks/#{mark}") #{ mark }                      
                        input(type='hidden', value=mark, name='mark')
                        button(type='submit')
                            img(src="/img/delete.png" width="16" height="16")     
        
                    br             