<div class="finish">

    <div class="field layout-column summary summary-title">
        <span class="group-caption" translate>TITLE</span>
        <input type="text" name="title" ng-model="$ctrl.order.details.title" ng-readonly="true"></input>
    </div>

    <div class="field summary summary-description">
        <span class="group-caption" translate>DESCRIPTION</span>
        <textarea type="text" name="description" ng-model="$ctrl.order.details.description" class="form-control" ng-readonly="true"></textarea>
    </div>

    <div class="layout-row summary summary-cards">
        <q-summary-card order="$ctrl.order" card-area="'details'" />
        <q-summary-card order="$ctrl.order" card-area="'car'" />
        <q-summary-card order="$ctrl.order" card-area="'contacts'" />
    </div>

    <div class="summary summary-wanted-list">
        <label class="is-wanted" for="wantedList_id">
            <input type="checkbox" id="wantedList_id" ng-model="$ctrl.order.wantedList" />
            <span translate="">Добавить в "Горячие заявки"</span>
        </label>
        <small>Горячие заявки видны всем магазинам, что дает им возможность самим отозваться на ваш заказ.</small>
    </div>

    <div class="action">
        <button type="button" class="btn btn-cancel btn-back" ng-click="::$ctrl.back()">
            <span translate>BACK</span>
        </button>
        <button type="button" class="btn btn-action btn-next" ng-click="::$ctrl.send()">
            <span translate>SEND</span>
        </button>
    </div>
</div>