extends ../layout

block content
    form(action='/cars/marks/'+ mark+"/add", method='POST')
      P
        div.cbm_wrap_button
            div.wrapper_body_button
                a.addCarSubmit(href="/cars/marks/"+mark) Назад
        div.cbm_wrap_button
            div.wrapper_body_button
                a.addCarSubmit(href="/cars/marks") Все марки
        div.center
            label #{mark}
            .cbm_wrap_center
                .wrapper_body_center
                    input.carSubmit(type='text', name='model', placeholder='Model')
            .cbm_wrap_center
                .wrapper_body_center
                    input.carSubmit(type='text', name='from', placeholder='From')
            .cbm_wrap_center
                .wrapper_body_center
                    input.carSubmit(type='text', name='end', placeholder='End')
            .cbm_wrap_button_center
                .wrapper_body_button_center
                    input.addCarSubmit(type='submit', value='Добавить')
        