<div class="container identity">
    <h1 translate>PASSWORD_RECOVERY_TITLE</h1>
    <div class="form">
        <form name="passwordForm" ng-submit="::$ctrl.recover()" novalidate>
            <div class="form-group" ng-class="{ 'has-error' : passwordForm.email.$invalid && !passwordForm.email.$pristine }">
                <input ng-model="$ctrl.email" placeholder="{{'EMAIL' | translate }}" required type="email" name="email" class="form-control">
                <span class="help-block" ng-show="passwordForm.email.$error.required && !passwordForm.email.$pristine" translate>FIELD_IS_REQUIRED</span>
                <span class="help-block" ng-show="passwordForm.email.$error.email && !passwordForm.email.$pristine" translate>EMAIL_IS_NOT_CORRECT</span>
            </div>
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="passwordForm.$invalid">
                    <span translate>RECOVER_PASSWORD</span>
                </button>
            </div>
            <q-alerts class="display-block" ng-if="$ctrl.alerts && $ctrl.alerts.length" alerts="$ctrl.alerts" />
        </form>
    </div>
</div>