<style type="text/css">
	.text-align-center {
		text-align: center;
	}
</style>
<div class="panel enter single center">
	<div class="text-align-center">
		<div class="container">
			<div style="text-align: center; position: relative;">
				<h1>{{::$ctrl.titleAlt}}</h1>
			</div>
			<div style="width: 435px; margin: 0 auto; margin-bottom: 20px;">
				<div>
					<p style="display: block;text-align: left;">{{::$ctrl.setCarDetailsAlt}}</p>
					<div style="text-align: left">
						<select ng-disabled="!$ctrl.canChooseCar()" style="width: 130px; height: 40px;margin-right: 10px;" ng-model="$ctrl.car" ng-options="c for c in ::$ctrl.cars"
							ng-style="!$ctrl.canChooseCar() && {'background-color':'#cccccc'} ">
							<option value="" selected="selected">{{::$ctrl.carMarkAlt}}</option>
						</select>
						<select ng-disabled="!$ctrl.canChooseCarModel()" style="width: 130px; height: 40px;margin-right: 10px;" ng-model="$ctrl.model" ng-options="m for m in $ctrl.models"
							ng-style="!$ctrl.canChooseCarModel() && {'background-color':'#cccccc'} ">
							<option value="" selected="selected">{{::$ctrl.carModelAlt}}</option>
						</select>
						<select ng-disabled="!$ctrl.canChooseCarModelYear()" style="width: 130px; height: 40px;" ng-model="$ctrl.year" ng-options="y for y in $ctrl.years"
							ng-style="!$ctrl.canChooseCarModelYear() && {'background-color':'#cccccc'} ">
							<option value="" selected="selected">{{::$ctrl.carYearAlt}}</option>
						</select>
					</div>
					<p style="padding-top: 10px;text-align: left;">{{::$ctrl.whatShouldBeRepairedAlt}}</p>
					<textarea style="display: block; margin-bottom: 20px; width: 415px; height: 70px; resize: none;" placeholder="Например: Замена масла" ng-model="$ctrl.details"></textarea>
					<div style="">
						<div style="float: left; width: 50%; display: inline-block;">
							<button type="button" style="height: 40px; line-height: 40px;margin: 0; display: block; width: 92%;"
								ng-click="::$ctrl.sendToAll()">
								<span>{{::$ctrl.toAllShopsAlt}}</span>
							</button>
							<p style="text-align: left; width: 210px; display: block; font-size: 14px; margin-top: 15px;">{{::$ctrl.toAllShopsDescriptionAlt}}</p>
						</div>
						<div style="width: 50%; display: inline-block;">
							<button type="submit" style="height: 40px; line-height: 40px;margin: 0; display: block; width: 92%;"
								ng-click="::$ctrl.searchByMap()">
								<span>{{::$ctrl.searchByMapAlt}}</span>
							</button>
							<p style="text-align: left; width: 210px; display: block; font-size: 14px; margin-top: 15px;">{{::$ctrl.searchByMapDesciptionAlt}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>