<style>
	.select-car-on-main .select-car-mark,
	.select-car-on-main .select-car-model,
	.select-car-on-main .select-car-year{
		width: 200px;
	}
	.select-car-on-main .select-car-mark,
	.select-car-on-main .select-car-model{
		margin-right: 10px;
	}
</style>
<div class="panel enter single center">
	<div class="text-align-center">
		<div class="container">
			<div class="">
				<h1 translate>ORDER_REGISTRATION_SHORT_TITLE</h1>
			</div>
			<div>
				<q-select-car on-change="$ctrl.onCarSelect($event);" car="$ctrl.newOrder.car" class="layout-row select-car-on-main display-block" />
				<textarea class="" placeholder="{{::'ORDER_REGISTRATION_SHORT_DETAIL_QUESTION' | translate}}" ng-model="$ctrl.newOrder.details"></textarea>
				<div class="">
					<button type="button" class="btn btn-action btn-lg center-block" ng-click="::$ctrl.sendToAllShops()">
						<span>{{::'ORDER_REGISTRATION_SHORT_TO_ALL_SHOPS' | translate}}</span>
					</button>
					<button type="button" class="btn btn-action btn-lg center-block" ng-click="::$ctrl.searchShopsByMap()">
						<span>{{::'ORDER_REGISTRATION_SHORT_TO_SEARCH_SHOPS' | translate}}</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>