<form name="detailsForm" class="details layout-column" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : detailsForm.title.$invalid && !detailsForm.title.$pristine }">
        <span class="caption" translate>TITLE</span>
        <div class="field layout-column">
            <input type="text" name="title" ng-model="$ctrl.orderDetails.title" ng-required="true" class="form-control"></input>
            <span class="help-block" ng-show="detailsForm.title.$invalid && !detailsForm.title.$pristine" translate>FIELD_IS_REQUIRED</span>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : detailsForm.description.$invalid && !detailsForm.description.$pristine }">
        <span class="caption" translate>DESCRIPTION</span>
        <div class="field">
            <textarea type="text" name="description" ng-model="$ctrl.orderDetails.description" class="form-control" ng-required="true"
                placeholder="{{'NEW_ORDER_DESCRIPTION' | translate }}"></textarea>
            <span class="help-block" ng-show="detailsForm.description.$invalid && !detailsForm.description.$pristine" translate>FIELD_IS_REQUIRED</span>
        </div>
    </div>
    <div class="form-group">
        <span class="caption" translate>CATEGORY</span>
        <div class="field short layout-column">
            <oi-select oi-options="st for st in $ctrl.spareTypes" name="spareType" ng-model="$ctrl.orderDetails.spareType" ng-required="true"></oi-select>
        </div>
    </div>
    <div class="form-group">
        <span class="caption" translate>SPARIES</span>
        <div class="field short">
            <label>
                <input class="checkbox-spare" type="checkbox" ng-model="$ctrl.orderDetails.spare.isNewDetail">
                <span translate>IS_NEW</span>
            </label>
            <label>
                <input class="checkbox-spare" type="checkbox" ng-model="$ctrl.orderDetails.spare.isUsedDetail">
                <span translate>IS_OLD</span>
            </label>
        </div>
    </div>
    <div class="form-group">
        <span class="caption" translate>RESOLUTION_DATE</span>
        <div class="field short layout-column">
            <q-date-time-picker name="resolutionDate" ng-model="$ctrl.orderDetails.resolutionDate" options="$ctrl.resolutionDateOptions"></q-date-time-picker>
        </div>
    </div>
    <!-- atachments here... -->
    <div class="action">
        <button type="button" class="btn btn-cancel btn-back" ng-click="::$ctrl.back()">
            <span translate>BACK</span>
        </button>
        <button type="submit" class="btn btn-action btn-next" ng-disabled="detailsForm.$invalid" ng-click="::$ctrl.next()">
            <span translate>NEXT</span>
        </button>
    </div>
</form>