<ul class="dialog-list">
    <li ng-repeat="dialog in $ctrl.dialogs"
        class="dialog-list-item"
        ng-class="{ 'selected' : dialog === $ctrl.selectedDialog }"
        ng-click="::$ctrl.selectDialog({ dialog: dialog })">
            <div class="dialog-short-info flex">
                <a href=""><h2>{{$ctrl.user.role === 'shop' ? dialog.user.name : dialog.shop.name}}</h2></a>
                <span class="dialog-last-msg">{{dialog.lastMessage.author.name}}: {{dialog.lastMessage.content}}</span>
                <span class="dialog-last-msg-created">{{dialog.lastMessage.created}}</span>
            </div>
            <div ng-if="$ctrl.countUnseenMessages(dialog)" class="dialog-unseen-count">
                <span>{{$ctrl.countUnseenMessages(dialog)}}</span>
            </div>
            <div class="dialog-actions">
                action buttons...
            </div>
    </li>
</ul>
