<div class="container">

	<!-- 1 -->
	<div class="row" style="background: white">
		<div class="col-lg-4 col-md-4 col-sm-4 ">
			<h1>1) Автомобиль</h1>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8">
			<br>
		<div class="panel enter single center">
			<div class="searchBlock">
				<h1>{{vm.information}}</h1>	
				<br>		
				<span>{{vm.auto}}</span>	
				<select ng-model="vm.car" ng-options="c for c in vm.cars" style="width: 100px"></select>
				<span>{{vm.modell}}</span>
				<select ng-model="vm.model" ng-options="c for c in vm.models" style="width: 100px"></select>
				<span>{{vm.year}} </span>
				<select ng-model="vm.y" ng-options="c for c in vm.years" style="width: 100px"></select>
				<span>{{vm.typeofmotor}}</span>
				<select ng-model ng-options style="width: 100px"></select>		
				<br>			
				<br>			
				<span>{{vm.svalue}}</span>
				<select ng-model ng-options style="width: 100px"></select>		
				<span>{{vm.typeKPP}}</span>
				<select ng-model ng-options style="width: 100px"></select>		
				<span>{{vm.vinnomber}}</span>
				<select ng-model ng-options style="width: 100px"></select>		
			</div>
		</div>
		</div>
	</div>	
	<!-- 2 -->
	<br>
	<div class="row" style="background: white">
		<div class="col-md-8 col-md-offset-4">
			<h1>2)Информация о заказе</h1>
		</div>
	</div>
</div>

