<nav id="navigation" class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" ui-sref="main"><img src="img/logo-header.png" style="height: 100%;"></a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="maps"><i class="fa fa-search" aria-hidden="true"></i> {{::$ctrl.mapsAlt}}</a></li>
				<li ng-if="!$ctrl.loggedIn()" ui-sref-active="active"><a ui-sref="login"><i class="fa fa-sign-in" aria-hidden="true"></i> {{::$ctrl.logInAlt}}</a></li>
				<li ng-if="!$ctrl.loggedIn()" ui-sref-active="active"><a ui-sref="registration"><i class="fa fa-wrench" aria-hidden="true"></i> {{::$ctrl.registrationAlt}}</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li ng-if="$ctrl.loggedIn()" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href>
					<span class="glyphicon glyphicon-user">
					<span class="caret"></span></a>
					<ul class="dropdown-menu text-center">
						<li ui-sref-active="active"><a ui-sref="profile-client-orders">{{::$ctrl.userOrdersAlt}}</a></li>
						<li ui-sref-active="active"><a ui-sref="profile-client-cars">{{::$ctrl.userCarsAlt}}</a></li>
						<li ui-sref-active="active"><a ui-sref="profile-client-settings">{{::$ctrl.userSettingsAlt}}</a></li>
						<li><a ng-click="::$ctrl.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{::$ctrl.logOutAlt}}</a></li>
					</ul>
				</li>
				<li ng-if="$ctrl.loggedIn()" class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href>
					<span class="glyphicon glyphicon-user">
					<span class="caret"></span></a>
					<ul class="dropdown-menu text-center">
						<li ui-sref-active="active"><a ui-sref="profile-shop-orders">{{::$ctrl.userOrdersAlt}}</a></li>
						<li ui-sref-active="active"><a ui-sref="profile-shop-settings">{{::$ctrl.userSettingsAlt}}</a></li>
						<li><a ng-click="::$ctrl.logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> {{::$ctrl.logOutAlt}}</a></li>
					</ul>
				</li>
				<li class="order-action" ui-sref-active="active"><a class="order-action-link" ui-sref="order-registration">{{::$ctrl.ordersAlt}}</a></li>
			</ul>
		</div>
	</div>
</nav>