<div class="panel enter single center">
	<div class="container new-order-landing">
		<div class="">
			<h1 translate>ORDER_REGISTRATION_SHORT_TITLE</h1>
		</div>
		<div>
			<oi-select oi-options="c for c in $ctrl.cities" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.newOrder.city" placeholder="{{::'SELECT_CAR_CHOOSE_MARK' | translate }}"
			    class="select-city">
			</oi-select>
			<oi-select oi-options="m for m in $ctrl.marks" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.newOrder.car.mark"
			    placeholder="{{::'SELECT_CAR_CHOOSE_MARK' | translate }}" class="select-car-mark">
			</oi-select>
			<oi-select oi-options="st for st in $ctrl.spareTypes" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.newOrder.spareType"
			    placeholder="{{::'SELECT_CAR_CHOOSE_MARK' | translate }}" class="select-spare-type">
			</oi-select>
			<textarea class="details" placeholder="{{::'ORDER_REGISTRATION_SHORT_DETAIL_QUESTION' | translate}}" ng-model="$ctrl.newOrder.details"></textarea>
			<div class="actions">
				<button type="button" class="btn btn-action" ng-click="::$ctrl.sendToAllShops()">
						<span>{{::'ORDER_REGISTRATION_SHORT_TO_ALL_SHOPS' | translate}}</span>
					</button>
				<button type="button" class="btn btn-action" ng-click="::$ctrl.searchShopsByMap()">
						<span>{{::'ORDER_REGISTRATION_SHORT_TO_SEARCH_SHOPS' | translate}}</span>
					</button>
			</div>
		</div>
	</div>
</div>