<form name="settingsPasswordForm" ng-submit="::$ctrl.changePassword(settingsPasswordForm)" class="layout-column" novalidate>
    <!-- Password -->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : settingsPasswordForm.password.$invalid && !settingsPasswordForm.password.$pristine }">
        <div class="settings-line-caption">Новый пароль</div>
        <div class="layout-column settings-line-content-input">
            <input type="password" name="password" ng-model="$ctrl.user.password" ng-change="$ctrl.resetServerError()" required class="form-control">
            <span class="help-block" ng-show="settingsPasswordForm.password.$invalid && !settingsPasswordForm.password.$pristine" translate>REGISTRATION_CLIENT_PASSWORD_IS_REQUIRED</span>
        </div>
    </div>
    <!-- Confirm password -->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : settingsPasswordForm.confirmPassword.$invalid && !settingsPasswordForm.confirmPassword.$pristine }">
        <div class="settings-line-caption">Повторить пароль</div>
        <div class="layout-column  settings-line-content-input">
            <input type="password" name="confirmPassword" ng-model="$ctrl.user.confirmPassword" required match="$ctrl.user.password"
                ng-change="$ctrl.resetServerError()" class="form-control">
            <span class="help-block" ng-show="settingsPasswordForm.confirmPassword.$error.required && !settingsPasswordForm.confirmPassword.$pristine"
                translate>REGISTRATION_CLIENT_PASSWORD_IS_REQUIRED</span>
            <span class="help-block" ng-show="settingsPasswordForm.confirmPassword.$error.match && !settingsPasswordForm.confirmPassword.$pristine"
                translate>REGISTRATION_CLIENT_PASSWORDS_ARE_DIFFERENT</span>
        </div>
    </div>
    <!-- Alerts -->
    <div ng-show="$ctrl.alerts" class="form-group layout-row layout-wrap">
        <div class="settings-line-caption"></div>
        <div class="layout-column  settings-line-content-input">
            <q-alerts alerts="$ctrl.alerts" />
        </div>
    </div>
    <!-- Submit -->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : $ctrl.serverErrorMessage }">
        <div class="settings-line-caption"></div>
        <div class="layout-row settings-line-content-input">
            <button type="submit" class="btn btn-primary settings-line-content-submit" ng-disabled="settingsPasswordForm.$invalid">
			    <span>Изменить пароль</span>
		    </button>
        </div>
    </div>
</form>