<style type="text/css">    
    .maps {
        width: 100%;
        height: 600px;
    }
    ya-map {
        display: block;
        width: 100%;
        height: 100%;
    }
</style>
<div class="row">
    <div class="col-md-10">
        <div class="maps">
            <ya-map ya-zoom="10" ya-center="{{$ctrl.center}}" ya-controls="zoomControl">
                <ya-cluster ya-options="{preset: 'islands#circleIcon',iconColor: '#4d7198'}">
                    <ya-geo-object ya-options="{preset: 'islands#circleIcon',iconColor: '#4d7198'}" ng-repeat="o in $ctrl.geoObjects" ya-source="o">
                    </ya-geo-object>
                </ya-cluster>
            </ya-map>
        </div>
    </div>
    <div class="col-md-2">
        <div class="item">
            <div style="text-align: center">
                <h2>Поиск магазинов на карте</h2>
                <br>
                <h3>По вашему запросу найдено {{$ctrl.coll}} магазина</h3>
                <br>
                <h4>Город:</h4>
                <select ng-model="$ctrl.center" ng-options="c for c in $ctrl.cities" style="width: 200px; height: 22px;"><option value="" selected disabled>Выберите</option></select>
                <br>
                <h4>Марка:</h4>
                <select ng-model="$ctrl.car" ng-options="c for c in $ctrl.cars" style="width: 200px; height: 22px;"><option value="" selected disabled>Выберите</option></select>
                <br>
                <h4>Категория запчасти:</h4>
                <select ng-model="$ctrl.category" ng-options="c for c in $ctrl.categories" style="width: 200px; height: 22px;"><option value="" selected disabled>Выберите</option></select>
                <br>
                <h4>Состояние:</h4>
                <div style="text-align: left">
                    <h5><input type="radio" name="group1" value="Новая" checked> Новая</h5>
                    <h5><input type="radio" name="group1" value="Б/у"> Б/у</h5><br>
                </div>
            </div>
        </div>
    </div>
</div>