.profile-order-filters {
    padding: 20px 10px 10px 10px;
    .filter-option {
        padding-right: 20px;
        cursor: pointer;
        &.active,
        &:hover {
            color: @color-orange-20;
            text-decoration: underline;
        }
    }
}