<div class="container">
	<div class="row" style="background: white; padding: 50px 20px 20px 0px;">
		<div class="col-lg-4 col-md-4 col-sm-4 ">
			<h3>{{::$ctrl.stage1Alt}}</h3>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="panel enter single center">
				<q-select-car car="$ctrl.newOrder.car" on-change="$ctrl.onCarSelect($event);" class="display-block layoyt-row order-registration-full-select-car"
				/>
				<div class="order-registration-full-car-vin">
					<input type="text" style="font-size: 14px" ng-model="$ctrl.car.VIN" placeholder="VIN" class="order-registration-full-car-vin">
				</div>
			</div>
		</div>
	</div>
	<div class="row" style="background: white; padding: 50px 20px 20px 0px;">
		<div class="col-lg-4 col-md-4 col-sm-4 ">
			<h3>{{::$ctrl.stage2Alt}}</h3>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="panel enter single center" style="border: none">
				<textarea style="display: block; margin-bottom: 20px; width: 100%; height: 120px; resize: none; padding-left: 5px; border-radius: 0px"
				    placeholder="{{::$ctrl.whatShouldBeRepairedAlt}}" ng-model="$ctrl.details"></textarea>
			</div>
		</div>
	</div>
	<div class="row" style="background: white; padding: 50px 20px 20px 0px;">
		<div class="col-lg-4 col-md-4 col-sm-4 ">
			<h3>{{::$ctrl.stage3Alt}}</h3>
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="panel enter single center" style="border: none">
				<h5>TODO here!</h5>
			</div>
		</div>
	</div>
</div>