<div class="container">
	<div class="row" style="background: white">
		<div class="col-lg-4 col-md-4 col-sm-4 ">
		</div>
		<div class="col-lg-8 col-md-8 col-sm-8">
			<div class="panel enter single center">
				<!--<h1>{{::$ctrl.information}}</h1>	-->
				<!--<br>-->
				<!--<span>{{$::ctrl.auto}}</span>	-->
				<select ng-model="$ctrl.car" ng-options="c for c in $ctrl.cars" style="width: 200px; height: 22px;"></select>
				<br>
				<!--<span>{{::$ctrl.modell}}</span>-->
				<select ng-model="$ctrl.model" ng-options="c for c in $ctrl.models" style="width: 200px; height: 22px;"></select>
				<br>
				<!--<span>{{::$ctrl.year}} </span>-->
				<select ng-model="$ctrl.year" ng-options="c for c in $ctrl.years" style="width: 200px; height: 22px;"></select>
				<br>
				<!--<span>{{::$ctrl.typeofmotor}}</span>-->
				<!--<select ng-model ng-options style="width: 100px"></select>		-->
				<!--<br>			-->
				<!--<br>			-->
				<!--<span>{{::$ctrl.svalue}}</span>-->
				<!--<select ng-model ng-options style="width: 100px"></select>		-->
				<!--<span>{{::$ctrl.typeKPP}}</span>-->
				<!--<select ng-model ng-options style="width: 100px"></select>		-->
				<!--<span>{{::$ctrl.vinnomber}}</span>-->
				<!--<select ng-model ng-options style="width: 100px"></select>		-->
			</div>
		</div>
	</div>
</div>

