<div class="desktop">
    <h4 translate>SEARCH_SHOPS_FILTERS_TITLE</h4>
</div>
<div class="tablet" ng-if="$ctrl.show">
</div>
<div class="mobile" ng-if="$ctrl.show">
    <div class="mobile-wrapper">
        <div class="title" translate>SEARCH_SHOPS_FILTERS_TITLE</div>
        <oi-select oi-options="c for c in $ctrl.cities" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.shopCity"
            placeholder="{{::'SEARCH_SHOPS_FILTERS_CITIES' | translate }}" class="options"></oi-select>
        <oi-select oi-options="c for c in $ctrl.carMarks" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.carMark"
            placeholder="{{::'SEARCH_SHOPS_FILTERS_CARS' | translate }}" class="options"></oi-select>
        <oi-select oi-options="c for c in $ctrl.categories" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.category"
            placeholder="{{::'SEARCH_SHOPS_FILTERS_CATEGORY' | translate }}" class="options"></oi-select>

        <div class="options options-state text-align-left">
            <span translate>SEARCH_SHOPS_FILTERS_DETAIL_STATE</span>
            <div class="display-inline-block">
                <input type="radio" name="details" id="newDetail" ng-model="$ctrl.filters.newDetail" ng-value="true">
                <span for="newDetail" translate>SEARCH_SHOPS_FILTERS_DETAIL_NEW</span>
            </div>
            <div class="display-inline-block">
                <input type="radio" name="details" id="oldDetail" ng-model="$ctrl.filters.newDetail" ng-value="true">
                <span for="oldDetail" translate>SEARCH_SHOPS_FILTERS_DETAIL_OLD</span>
            </div>
        </div>
        <div class="options text-align-left">
            {{::'SEARCH_SHOPS_FILTERS_SHOP_WORKS_NOW' | translate }}
            <input type="checkbox" ng-model="$ctrl.filters.worksNow">
        </div>
        <div class="options text-align-left">
            {{::'SEARCH_SHOPS_FILTERS_SHOP_WORKS_ON_WEEKEND' | translate }}
            <input type="checkbox" ng-model="$ctrl.filters.worksOnWeekend">
        </div>
        <div class="options options-actions">
            <button type="button" class="btn btn-cancel" ng-click="::$ctrl.cancel()">
            <span translate>SEARCH_SHOPS_FILTERS_CANCEL</span>
        </button>
            <button type="button" class="btn btn- btn-action" ng-click="::$ctrl.applyFilters()">
            <span translate>SEARCH_SHOPS_FILTERS_APPLY</span>
        </button>
        </div>
    </div>
</div>