/*/*main.css*/

html, body {
    font-size: 14px;
    background: url(/images/bg.jpg) repeat 0 0 #eceee9;
}

header{
    background: #7c7361;
    padding-top: 38px;
}

/* navbar */
.navbar-inverse {
    background-color: #585a56;
    border-color: #585a56;
    font-size: 14px;
}
/* title */
.navbar-inverse .navbar-brand {
    color: #ffffff;
    text-decoration: none;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
    background: #333;
}
/* link */
.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;    
    text-decoration: none;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {    
    text-decoration: underline;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.dropdown-menu{
    padding: 0;
    background: transparent;
    border: none;
}

.navbar-inverse .navbar-nav > .dropdown > .dropdown-menu > li > a {
    color: #ffffff;
    text-decoration: none;
    background-color: #585a56;
}
.navbar-inverse .navbar-nav > .dropdown > .dropdown-menu li > a:hover,
.navbar-inverse .navbar-nav > .dropdown > .dropdown-menu li > a:focus {    
    text-decoration: underline;

}

ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;

}

/* mobile version */
.navbar-inverse .navbar-toggle {
    border-color: #DDD;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        position: static;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }

/*    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }*/
}