<div class="wrapper_body">
    <div class="cbm_wrap ">
        <div class="text-align-left">
            <div class="letter2">
                <span class="letter">{{::'MARK'| translate}}:</span> <span class="letter1">{{::$ctrl.car.mark}}</span><br>
            </div>
            <div class="letter2">

                <span class="letter">{{::'MODEL'| translate}}:</span> <span class="letter1">{{::$ctrl.car.model}}</span><br>
            </div>
            <div class="letter2">
                <span class="letter">{{::'YEAR'| translate}}:</span> <span class="letter1">{{::$ctrl.car.year}}</span><br>
            </div>
            <div class="letter2">
                <span class="letter">{{::'ENGINE_TYPE'| translate}}:</span> <span class="letter1">{{::$ctrl.car.engineType}}</span><br>
            </div>
            <div class="letter2">
                <span class="letter">{{::'ENGINE_CAPACITY'| translate}}:</span> <span class="letter1">{{::$ctrl.car.engineCapacity}}</span><br>
            </div>
            <div class="letter2">
                <span class="letter">{{::'GEARBOX'| translate}}:</span> <span class="letter1">{{::$ctrl.car.gearbox}}</span><br>
            </div>
            <div class="letter2">
                <span class="letter">{{::'VIN'| translate}}:</span> <span class="letter1">{{::$ctrl.car.VIN}}</span><br>
            </div>
        </div>
        <button type="submit" class=" close-thik " title="Удалить автомобиль" ng-click="$ctrl.delete()">          
        </button>
        <button type="submit" class=" width-full btn btn-primary" ng-click="$ctrl.edit()">
            <span>{{::'CHANGE'| translate}}</span>
        </button>
    </div>
</div>