<div class="wrapper_body">
    <div class="cbm_wrap ">
        <div class="text-align-left">
            <span class="letter">{{::'MARK'| translate}}:</span>  <span class="letter1">{{::$ctrl.car.mark}}</span><br>
            <span class="letter">{{::'MODEL'| translate}}:</span> <span class="letter1">{{::$ctrl.car.model}}</span><br>
            <span class="letter">{{::'YEAR'| translate}}:</span>  <span class="letter1">{{::$ctrl.car.year}}</span><br>
            <span class="letter">{{::'VIN'| translate}}:</span>   <span class="letter1">{{::$ctrl.car.VIN}}</span><br>
        </div>
        <button type="submit" class=" close-thik "  title="Удалить автомобиль" ng-click="$ctrl.delete()">          
        </button>
        <button type="submit" class=" width-full btn btn-primary" ng-click="$ctrl.edit()">
            <span>{{::'CHANGE'| translate}}</span>
        </button>
    </div>
</div>