<div class="container">
    <div class="panel enter single center" style="margin: 68px auto 38px;width: 490px; padding: 68px 40px; text-align: center;">
        <h3>{{::$ctrl.title}}</h3>
        <div>
            <input type="password" name="password" ng-model="$ctrl.password" placeholder="{{::$ctrl.oldPasswordAlt}}" style="width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;">
        </div>
        <div>
            <input type="password" name="password" ng-model="$ctrl.password" placeholder="{{::$ctrl.newPasswordAlt}}" style="width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;">
        </div>
        <div>
            <button type="submit" class="button button_blue" style="width: 100%; padding: 10px 50px; text-align: center;">
                    <span>{{::$ctrl.loginActinonText}}</span>
                </button>
        </div>
    </div>
</div>