<style>
    .someForm{
        margin: 68px auto 38px;width: 490px; padding: 68px 40px; text-align: center;
    }
    input.updatePassword-form-input{
        width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;
    }
    button.updatePassword-form-submit{
        width: 100%; padding: 10px 50px; text-align: center;
    }

 </style>

<div class="container">
    <div class="panel enter single center someForm">
        <form name="updatePassword">
        <h3>{{::$ctrl.title}}</h3>
        <div class="form-group" ng-class="{ 'has-error' : updatePassword.password.$invalid && !updatePassword.password.$pristine }">
            <input type="password" name="password" ng-model="$ctrl.password" 
            placeholder="{{::$ctrl.oldPasswordAlt}}" class="form-control updatePassword-form-input">
        </div>
        <div class="form-group" ng-class="{ 'has-error' : updatePassword.newPassword.$invalid && !updatePassword.newPassword.$pristine }">
            <input type="password" name="newPassword" ng-model="$ctrl.newPassword" 
            placeholder="{{::$ctrl.newPasswordAlt}}" class="form-control updatePassword-form-input">
        </div>
        <div>
            <button type="submit" class="btn btn-primary updatePassword-form-submit" 
             ng-disabled="updatePassword.$invalid">
                    <span>{{::$ctrl.loginActinonText}}</span>
                </button>
        </div>
        </form>
    </div>
</div>