<h1 class="text-center input-title" translate>REGISTRATION_CLIENT_TITLE</h1>
<div class="input-wall">
	<form name="userForm" ng-submit="::$ctrl.register(userForm.$valid)" class="form-input" novalidate>
		<!-- Name -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
			<input type="text" name="name" ng-model="$ctrl.user.name" required ng-change="$ctrl.resetServerError()" placeholder="{{'REGISTRATION_CLIENT_CONTACT_NAME' | translate }}"
							class="form-control">
			<span class="help-block" ng-show="userForm.name.$error.required && !userForm.name.$pristine" translate>REGISTRATION_CLIENT_CONTACT_NAME_IS_REQUIRED</span>
		</div>
		<!-- Email -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
			<input type="email" name="email" ng-model="$ctrl.user.email" required ng-change="$ctrl.resetServerError()" placeholder="{{'REGISTRATION_CLIENT_EMAIL' | translate }}"
							class="form-control">
			<span class="help-block" ng-show="userForm.email.$error.required && !userForm.email.$pristine" translate>REGISTRATION_CLIENT_EMAIL_IS_REQUIRED</span>
			<span class="help-block" ng-show="userForm.email.$error.email && !userForm.email.$pristine" translate>REGISTRATION_CLIENT_EMAIL_IS_NOT_CORRECT</span>
		</div>
		<!-- Phone -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid && !userForm.phone.$pristine }">
			<input type="text" name="phone" ng-model="$ctrl.user.phone" ng-change="$ctrl.resetServerError()" ng-pattern="/^\+375( |-){0,1}\d{2}( |-){0,1}\d{3}( |-){0,1}\d{2}( |-){0,1}\d{2}$/"
							placeholder="{{'REGISTRATION_CLIENT_PHONE' | translate }}" class="form-control">
			<span class="help-block" ng-show="userForm.phone.$invalid && !userForm.phone.$pristine" translate>REGISTRATION_CLIENT_PHONE_IS_NOT_CORRECT</span>
		</div>
		<!-- Password -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
			<input type="password" name="password" ng-model="$ctrl.user.password" ng-change="$ctrl.resetServerError()" required placeholder="{{'REGISTRATION_CLIENT_PASSWORD' | translate }}"
							class="form-control">
			<span class="help-block" ng-show="userForm.password.$invalid && !userForm.password.$pristine" translate>REGISTRATION_CLIENT_PASSWORD_IS_REQUIRED</span>
		</div>
		<!-- Confirm password -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine }">
			<input type="password" name="confirmPassword" ng-model="$ctrl.user.confirmPassword" required match="$ctrl.user.password"
							ng-change="$ctrl.resetServerError()" placeholder="{{'REGISTRATION_CLIENT_PASSWORD_CONFIRM' | translate }}" class="form-control">
			<span class="help-block" ng-show="userForm.confirmPassword.$error.required && !userForm.confirmPassword.$pristine" translate>REGISTRATION_CLIENT_PASSWORD_IS_REQUIRED</span>
			<span class="help-block" ng-show="userForm.confirmPassword.$error.match && !userForm.confirmPassword.$pristine" translate>REGISTRATION_CLIENT_PASSWORDS_ARE_DIFFERENT</span>
		</div>
		<q-alerts ng-show="$ctrl.alerts" alerts="$ctrl.alerts"/>
		<button type="submit" class="btn btn-primary user-form-submit" ng-disabled="userForm.$invalid" style="width: 100%; padding: 10px 35px;">
			<span translate>REGISTRATION_CLIENT_REGISTER</span>
		</button>
		<div class="policy" style="margin: 30px 0 0 0; padding: 0;">
			{{'REGISTRATION_CLIENT_POLICY_1' | translate }}
			<a target="_blank" ui-sref="agreement">{{'REGISTRATION_CLIENT_POLICY_2' | translate }}</a>{{'REGISTRATION_CLIENT_POLICY_3' | translate }}
			<a target="_blank" ui-sref="rules">{{'REGISTRATION_CLIENT_POLICY_4' | translate }}</a>{{'REGISTRATION_CLIENT_POLICY_5' | translate }}
		</div>
		<q-auth-social></q-auth-social>
	</form>
</div>