extends layout

block content
  form(method='post', action='add')
    div
      label Mark*
      input(type='text', name='mark')
    div
      label Model*
      input(type='text', name='model')
    div
      label From*
      input(type='text', name='from')
    div
      label End
      input(type='text', name='end')
    div
      input(type='submit', value='Submit')