extends layout
  
block content
    br
    br
    div.float
        div.cbm_wrap
            div.wrapper_body
                a.allLinks(href="/cities") Города
    div.float
        div.cbm_wrap
            div.wrapper_body   
                a.allLinks(href="/notifications") Нотификации
    div.float
        div.cbm_wrap
            div.wrapper_body    
                a.allLinks(href="/cars/engineCapacities") Объёмы 
    div.float
        div.cbm_wrap
            div.wrapper_body             
                a.allLinks(href="/cars/engineTypes") Типы двигателя
    div.float
        div.cbm_wrap
            div.wrapper_body   
                a.allLinks(href="/cars/gearboxes") Типы КПП
    div.float
        div.cbm_wrap
            div.wrapper_body       
                a.allLinks(href="/cars/marks") Все марки           
    div.float
        div.cbm_wrap
            div.wrapper_body    
                a.allLinks(href="/cars/spareTypes") Все запчасти
    div.float
        div.cbm_wrap
            div.wrapper_body    
                a.allLinks(href="/questionAnswer") Вопрос-ответ



