doctype html
html(lang='en', style='overflow: hidden;')
  head
    title= 'Идет аутентификация в ' + title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
  body(style='background-image:url(../../img/bg.jpg);')
    style.
      .window{
      height:100vh;
      width:100%;
      vertical-align:middle;
      line-height:100vh;
      text-align:center;
      }
      .loader,
      .loader:after {
      border-radius: 50%;
      width: 10em;
      height: 10em;
      }
      .loader {
      margin: 100px auto;
      font-size: 15px;
      position: relative;
      text-indent: -9999em;
      border-top: 1.1em solid rgba(88,90,86, 0.2);
      border-right: 1.1em solid rgba(88,90,86, 0.2);
      border-bottom: 1.1em solid rgba(88,90,86, 0.2);
      border-left: 1.1em solid #585a56;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-animation: load8 1.1s infinite linear;
      animation: load8 1.1s infinite linear;
      }
      @-webkit-keyframes load8 {
      0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      }
      100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }
      }
      @keyframes load8 {
      0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      }
      100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      }
      }

    .window
         .loader
    script.
      var redirectUrl = !{ JSON.stringify(authUrl) };
      setTimeout(function () {
        window.location.href= redirectUrl;
      }, 50);