<div class="question-answer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center margin-top">
                <h1>
                    <span>Есть вопросы? Мы поможем вам!</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" ng-repeat="question in $ctrl.allQuestions">
                <div class="question-block">
                    <strong><h2>{{question.question}}</h2></strong>
                    <h4>{{question.answer}}</h4>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center margin-top">
                <h1>
                    <span>Задайте свой вопрос!</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form name="$ctrl.questionForm" class="contacts layout-column" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : $ctrl.questionForm.name.$invalid && !$ctrl.questionForm.name.$pristine }">
                        <h4 class="caption" translate>Имя:</h4>
                        <div class="field short layout-column">
                            <input type="text" name="name" ng-model="$ctrl.name" required class="form-control text-center"></input>
                            <span class="help-block" ng-show="$ctrl.questionForm.name.$error.required && !$ctrl.questionForm.name.$pristine" translate>FIELD_IS_REQUIRED</span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : $ctrl.questionForm.email.$invalid && !$ctrl.questionForm.email.$pristine}">
                        <h4 class="caption">Эл. адрес:</h4>
                        <div class="field short layout-column">
                            <input type="email" name="email" ng-model="$ctrl.email" required class="form-control text-center"></input>
                            <span class="help-block" ng-show="$ctrl.questionForm.email.$error.required && !$ctrl.questionForm.email.$pristine" translate>FIELD_IS_REQUIRED</span>
                            <span class="help-block" ng-show="$ctrl.questionForm.email.$error.email && !$ctrl.questionForm.email.$pristine" translate>EMAIL_IS_NOT_CORRECT</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <h4 class="caption">Вопрос:</h4>
                        <div class="field short" ng-class="{ 'has-error' : $ctrl.questionForm.question.$invalid && !$ctrl.questionForm.question.$pristine }">
                            <textarea type="text" name="question" ng-model="$ctrl.question" required class="form-control"></textarea>
                            <span class="help-block" ng-show="$ctrl.questionForm.question.$error.required && !$ctrl.questionForm.question.$pristine"
                                translate>FIELD_IS_REQUIRED</span>
                        </div>
                    </div>

                    <div class="action text-center">
                        <button type="button" class="btn btn-cancel btn-back" ng-disabled="$ctrl.questionForm.$invalid" ng-click="$ctrl.send()">
                            <span>Отправить</span>
                        </button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>

</div>