extends ../layout

block content
    div.center
        label Объёмы в базе данных
    p
        div.float
            div.cbm_wrap_button
                div.wrapper_body_button
                    a.addSubmit(href="/cars/engineCapacities/add") Добавить
    each engineCapacity in engineCapacities
        div.float
            div.cbm_wrap
                div.wrapper_body
                    form(action='/cars/engineCapacities/delete', method='POST')
                        input(type='hidden', name='id', value=engineCapacity._id)
                        a.allLinks() #{engineCapacity.name}
                        button.close(type='submit' title='Удалить' onclick="return confirm('Вы уверены?') ? true : false;")