<div class="car">
    <div class="cardsets">
        <div class="card" ng-repeat="car in $ctrl.myCars">
            <input type="radio" name="cars" ng-model="$ctrl.selectedCarId" id="{{car._id}}" value="{{car._id}}"
            ng-change="$ctrl.selectCar(car)">
            <label for="{{car._id}}"  class="card-content">
                <q-new-order-car-my class="display-block" car="car"></q-new-order-car-my>
            </label>
        </div>
        <div class="card">
            <input type="radio" name="cars" id="newCarId" ng-model="$ctrl.selectedCarId" value="{{$ctrl.orderCar.newCar._id}}"
            ng-change="$ctrl.selectCar($ctrl.orderCar.newCar)">
            <label for="{{$ctrl.orderCar.newCar._id}}" class="card-content new">
                <q-new-order-car-new class="display-block" ng-model="$ctrl.orderCar.newCar"></q-new-order-car-new>
            </label>
        </div>
    </div>
    <div class="action">
        <button type="button" class="btn btn-cancel btn-back" ng-click="::$ctrl.back()">
            <span translate>BACK</span>
        </button>
        <button type="button" class="btn btn-action btn-next" ng-disabled="!$ctrl.selectedCarIsValid()" ng-click="::$ctrl.next()">
            <span translate>NEXT</span>
        </button>
    </div>
</div>