<div class="container">
    <div class="panel enter single center" style="margin: 68px auto 38px;width: 490px; padding: 68px 40px; text-align: center;"> 
            <h3>{{::$ctrl.title}}</h3>
            <form name="userForm">
                <div ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                    <input ng-model="$ctrl.email" placeholder="{{::$ctrl.emailOrPhoneAlt}}"
                        style="width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;"
                        required ng-change="$ctrl.resetServerError()" type="email" name="email">
                    <span class="help-block" ng-show="userForm.email.$error.required && !userForm.email.$pristine">{{::$ctrl.alertEmailIsRequired}}</span>
                    <span class="help-block" ng-show="userForm.email.$error.email && !userForm.email.$pristine">{{::$ctrl.alertEmailIsNotCorrect}}</span>
                </div>
                <button type="submit" ng-click="::$ctrl.recover()"
                    class="button button_blue" style="width: initial; padding: 10px 50px; text-align: start;">
                    <span>{{::$ctrl.recoverActionText}}</span>
                </button>
            </form>
        </div>
    </div>
</div>