.new-order {
    .new-order-step-wrapper {
        .contacts {
            max-width: 800px;
            margin: auto;

            .try-sign-in {
                a {
                    color: @color-orange;
                    font-size: 1.1em;
                    text-decoration: none;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .form-group {
            .add-phone-number {
                cursor: pointer;
                margin-left: 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
            .clear-phone-number {
                cursor: pointer;
                pointer-events: all;
                font-size: 0.9em;
            }
        }
    }
}