.new-order {
    .new-order-step-wrapper {
        .finish {
            text-align: left;
            padding-left: 9%;
            padding-right: 9%;
            padding-bottom: 20px;

            .action {
                text-align: center;
            }

            .summary {
                .group-caption {
                    font-size: 1.5em;
                    line-height: 1.8em;
                }

                &.summary-title {
                    input {
                        padding: 6px 12px;
                    }
                }

                &.summary-description {
                    textarea {
                        background-color: #fff;
                        resize: vertical;
                    }
                }

                &.summary-details {
                    margin: 12px 0;
                    font-size: 1.2em;
                    .summary-details-section {
                        margin: 8px 0;
                    }
                    .details-unit {
                        margin-right: 8px;
                    }
                    .line-through {
                        text-decoration: line-through;
                    }
                    i {
                        margin-right: 4px;
                        color: #2db36f;
                    }
                }

                &.summary-wanted-list {
                    label {
                        display: block;
                        input[type="checkbox"] {
                            transform: scale(1.6);
                            margin: 0 4px 0;
                        }
                    }
                    padding: 10px 0 20px;
                    text-align: center;
                }
            }
        }
    }
}