<div class="outerContainer">
    <div class="innerContainer">
        <div class="tripleButtonBar">
            <button type="button" class="button-leftButton">
                <div class="container_qtix31">
                    <div class="child_17u98ky">
                        <span>List</span>
                    </div>
                    <div class="child_17u98ky">
                        <div style="margin-left: 6px;">
                            <div class="buttonBorder_q7wwyc">
                                <svg viewBox="0 0 16 16" role="img" aria-label="List" focusable="false" style="display: block; fill: rgb(0, 132, 137); height: 1em; width: 1em;">
                                    <path fill-rule="evenodd" d="M15.25 12.5a.75.75 0 0 1-.75.75h-13a.75.75 0 0 1 0-1.5h13a.75.75 0 0 1 .75.75zm-.75-5.75h-13a.75.75 0 1 0 0 1.5h13a.75.75 0 0 0 0-1.5zm-13-3.5h13a.75.75 0 0 0 0-1.5h-13a.75.75 0 1 0 0 1.5z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
            <button type="button" class="button_centrButton">
                <div class="container_qtix31">
                    <div class="child_17u98ky">
                        <span>Map</span>
                    </div>
                    <div class="child_17u98ky">
                        <div style="margin-left: 6px;">
                            <div class="buttonBorder_q7wwyc">
                                <svg viewBox="0 0 12 12" role="img" aria-label="Map" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;">
                                    <path fill-rule="evenodd" d="M10.377.76l-2.816.469L4.738.288a.753.753 0 0 0-.474 0l-3 1a.75.75 0 0 0-.513.711v9a.75.75 0 0 0 .987.711l2.763-.921 2.763.921c.154.051.32.051.474 0l3-1a.75.75 0 0 0 .513-.711v-8.5a.75.75 0 0 0-.873-.74l-.001.001zM2.25 9.959V2.54l1.5-.5v7.419l-1.5.5zm3-7.919l1.5.5v7.419l-1.5-.5V2.04zm3 .595l1.5-.25v7.074l-1.5.5V2.635z"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
            <button type="button" class="button_rightButton">
                <div class="container_qtix31">
                    <div class="child_17u98ky">
                        <span>Filters</span>
                    </div>
                    <div class="child_17u98ky">
                        <div style="margin-left: 6px;">
                            <div>
                                <svg viewBox="0 0 12 12" role="img" aria-label="Filters" focusable="false" style="display: block; fill: currentcolor; height: 1em; width: 1em;">
                                    <path fill-rule="evenodd" d="M2.5.25a.75.75 0 0 0-.75.75v.378a2.25 2.25 0 0 0 0 4.244V11a.75.75 0 0 0 1.5 0V5.622a2.25 2.25 0 0 0 0-4.244V1A.75.75 0 0 0 2.5.25zm0 4a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5zm3.5-4a.75.75 0 0 0-.75.75v5.378a2.25 2.25 0 0 0 0 4.244V11a.75.75 0 0 0 1.5 0v-.378a2.25 2.25 0 0 0 0-4.244V1A.75.75 0 0 0 6 .25zm0 9a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5zm4.25-7.872V1a.75.75 0 0 0-1.5 0v.378a2.25 2.25 0 0 0 0 4.244V11a.75.75 0 0 0 1.5 0V5.622a2.25 2.25 0 0 0 0-4.244zM9.5 4.25a.75.75 0 1 1 0-1.5.75.75 0 0 1 0 1.5z">
                                    </path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </button>
        </div>
    </div>
</div>



<!--<div class="layout-row layout-align-center">
    <ul class="nav nav-pills">
        <li ng-repeat="option in $ctrl.options" ng-class="{ active: $ctrl.isActive(option), 'round-left': $first, 'round-right': $last }">
            <a href ng-click="$ctrl.setActive(option);">{{option.caption}}</a>
        </li>
    </ul>
</div>-->