<div class="panel enter single center" style="padding: 30px; text-align: center;">
	<h3>{{::$ctrl.title}}</h3>
	<div>
		<input ng-model="$ctrl.contactName" placeholder="{{::$ctrl.contactNameAlt}}" style="width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;">
	</div>
	<div>
		<input ng-model="$ctrl.email" placeholder="{{::$ctrl.emailAlt}}" style="width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;">
	</div>
	<div>
		<input ng-model="$ctrl.phone" placeholder="{{::$ctrl.phoneAlt}}" style="width: 100%; margin: 0 0 20px 0; font-size: 1.1em; padding: 10px 15px;">
	</div>
	<div>
		<input ng-model="$ctrl.email" placeholder="{{::$ctrl.emailAlt}}" style="width: 100%; margin: 0; font-size: 1.1em; padding: 10px 15px;">
		<div style="text-align: left; font-weight: bold; margin: 10px 0;">{{::$ctrl.registerActionInfo}}</div>
	</div>
	<button type="button" ng-click="::$ctrl.register()" style="width: 100%; padding: 10px 35px;">{{::$ctrl.registerActionText}}</button>
	<div class="policy" style="margin: 50px 0 0 0; padding: 0;">
			{{::$ctrl.policyTextPart1}}
			<a target="_blank" href="#/agreement">{{::$ctrl.policyLinkTextPart2}}</a>
			{{::$ctrl.policyTextPart3}}
			<a target="_blank" href="#/rules">{{::$ctrl.policyLinkTextPart4}}</a>
			{{::$ctrl.policyTextPart5}}
	</div>
</div>