<footer id="footer">
	<nav class="navbar navbar-inverse">
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<ul>
				<li><a href="/">Главная</a></li>
				<li><a href="#autoshops">Автомагазины</a></li>
				<li><a href="#help">Помощь</a></li>
				<li><a href="#about">О проекте</a></li>
				<li><a href="#promo">Автомагазинам</a></li>
			</ul>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
			<ul>
				<li><a href="#promotions">Акции</a></li>
				<li><a href="#news">Новости</a></li>
				<li><a href="#requests">Заявки автолюбителей</a></li>
				<li><a href="#create_request">Создать заявку</a></li>
				<li><a href="#terms">Пользовательское соглашение</a></li>
			</ul>
			</div>
			<div class="col-xs-6 col-sm-3 col-md-3">
		 	Звоните нам по телефону:<br>
                <span>+375 259091025</span>
			</div>
		 	<div class="col-xs-6 col-sm-3 col-md-3">
		  		Или пишите нам на почту:<br>
            <span><a href="mailto:info@stohelp.by" style="color: white;">info@stohelp.by</a></span>
			</div>       				
		</div>
		<div class="row copy">
			<p>Copyright © 2016. All rights reserved.</p>
		</div>
	</nav>			
</footer>