<header id="heading">		
    <div class="container">			
        <div class="heading-content-block left">
            <div id="logo">
                <a href="https://stohelp.by/">
                    <img src="/img/logo.png" alt="" width="188" height="101">
                </a>
            </div>

            <p>Бесплатный онлайн-сервис<br> по размещению заявок на запчасти для автомобилей</p>
            <br> по размещению заявок
            <br> по размещению заявок
            <ul class="clearfix" id="social">
                <li><a href="https://vk.com/aleksey.demukh" id="vk" target="_blank" rel="nofollow">&nbsp;</a></li>
                <li><a href="https://www.facebook.com/aleksey.demukh" id="facebook" target="_blank" rel="nofollow">&nbsp;</a></li>
            </ul>
        </div>
        <div class="heading-content-block right login-block">
            <form action="#login_check" method="post">
                <div id="login-header">
                    <a href="#requests">Вход в рабочий кабинет</a>
                </div>
                <div class="field-item small-fields">
                    <label>Логин</label>
                    <input type="text" id="username" name="_username" value="">
                </div>
                <div class="field-item small-fields">
                    <label>Пароль</label>
                    <input type="password" id="password" name="_password" style="padding: 6px 15px;">
                </div>
                <div class="font-10 field-item clearfix">
                    <a class="left" href="https://stohelp.by/recovery/?type=sto">Забыли пароль?</a>
                    <a class="right" href="https://stohelp.by/register">
                    Зарегистрироваться
                    </a>
                </div>
                <button type="submit" class="btn gray">Войти</button>
            </form>
        </div>
    </div>
</header>