<nav id="navigation" class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="/">aAvto.by</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#autoshops">Автомагазины</a></li>
				<li><a href="#promotions" style="font-weight:bold!important; color:#f6cf60;">Акции</a></li> 
				<li><a href="#news">Новости</a></li> 
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#">О проекте
					</a>
					<ul class="dropdown-menu">
						<li><a href="#about">Что такое aAvto.by</a></li>
						<li><a href="#help">Помощь</a></li>
						<li><a href="#term">Пользовательское соглашение</a>
						</li> 
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>