<form name="contactsForm" class="contacts layout-column" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : contactsForm.name.$invalid && !contactsForm.name.$pristine }">
        <span class="caption" translate>NAME</span>
        <div class="field short layout-column">
            <input type="text" name="name" ng-model="$ctrl.orderContacts.name" required class="form-control"></input>
            <span class="help-block" ng-show="contactsForm.name.$invalid && !contactsForm.name.$pristine" translate>FIELD_IS_REQUIRED</span>
        </div>
    </div>
    <div class="form-group">
        <span class="caption" translate>CITY</span>
        <div class="field short">
            <oi-select oi-options="c for c in $ctrl.cities" name="city" ng-model="$ctrl.orderContacts.city" required></oi-select>
        </div>
    </div>
    <div class="form-group">
        <span class="caption" translate>ADDRESS</span>
        <div class="field short">
            <textarea type="text" name="address" ng-model="$ctrl.orderContacts.address" class="form-control"></textarea>
        </div>
    </div>
    <div class="form-group">
        <span class="caption" translate>PHONE</span>
        <div class="field short bottom-offset has-feedback" ng-repeat="(key, value) in $ctrl.phones" ng-class="{ 'has-error' : contactsForm['phone' + key].$invalid && !contactsForm['phone' + key].$pristine }">
            <input type="text" name="{{'phone' + key}}" ng-model="$ctrl.phones[key].number" ng-change="$ctrl.changePhoneNumber(key, $ctrl.phones[key].number);" class="form-control" ng-pattern="/^\+375( |-){0,1}\d{2}( |-){0,1}\d{3}( |-){0,1}\d{2}( |-){0,1}\d{2}$/">
            <span ng-if="$ctrl.orderContacts.phoneNumbers.length > 1" ng-click="$ctrl.clearPhoneNumber(key)" uib-tooltip="{{::'CLEAR' | translate }}"
                class="glyphicon glyphicon-remove form-control-feedback clear-phone-number">
            </span>
            <span class="help-block" ng-show="contactsForm['phone' + key].$invalid && !contactsForm['phone' + key].$pristine" translate>PHONE_IS_NOT_CORRECT</span>
        </div>
        <span ng-click="$ctrl.addPhoneNumber()" ng-if="$ctrl.orderContacts.phoneNumbers.length < 3" class="add-phone-number" translate>ADD_ONE_MORE</span>
    </div>
    <div class="action">
        <button type="button" class="btn btn-cancel btn-back" ng-click="::$ctrl.back()">
            <span translate>BACK</span>
        </button>
        <button type="submit" class="btn btn-action btn-next" ng-disabled="contactsForm.$invalid" ng-click="::$ctrl.next()">
            <span translate>NEXT</span>
        </button>
    </div>
</form>