extends layout

block content
    form(action='/cities/allCities/' + city.name + '/edit', method='POST')
        P
            div.cbm_wrap_button
                div.wrapper_body_button
                    a.addCarSubmit(href="/cities/allCities") Города
        p.center Изменение
             .cbm_wrap_center
                .wrapper_body_center
                    input.carSubmit(type='text', name='name', value=city.name, placeholder=city.name)     
        p
            input(type='hidden', name='id', value=city._id)
            div.cbm_wrap_button_center
                div.wrapper_body_button_center
                    button.addCarSubmit(type='submit').
                        Изменить