extends layout

block content
    div.center
        label Нотификации в базе данных
    div    
        div.cbm_wrap_button
            div.wrapper_body_button
                a.addCarSubmit(href="/admin") Главная страница      
    p
        div.float
            div.cbm_wrap_button
                div.wrapper_body_button
                    a.addSubmit(href="/notifications/notifications/add") Добавить
    br
    br
    br
    br                
    each notification in notifications
        div.float
            div.cbm_wrap
                div.wrapper_body
                    form(action='/notifications/notifications/delete', method='POST')
                        a.allLinks(href="/notifications/notifications/#{notification.name}") #{notification.name}               
                        input(type='hidden', value=notification._id, name='id')
                        button.close(type='submit' title='Удалить' onclick="return confirm('Вы уверены?') ? true : false;")