.shops-selection {
    float: right;
    margin-top: 10px;

    .selected-counter {
        font-weight: bold;
    }
}

.search-shops .switch .shop-selection-mobile {
    background-color: #ff944d;
    a, a i {
        color: #fff;        
    }
}

.search-shops .switch .shops-selected {
    font-weight: bold;
    background-color: #ff6600;   
 }