<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
            <h1 class="text-center input-title" translate>PASSWORD_SET_TITLE</h1>
            <div class="input-wall">
                <form name="passwordSetForm" ng-submit="::$ctrl.recover(passwordSetForm.$valid)" class="form-input">
                    <!-- Password -->
                    <div class="form-group" ng-class="{ 'has-error' : passwordSetForm.password.$invalid && !passwordSetForm.password.$pristine }">
                        <input type="password" name="password" ng-model="$ctrl.user.password" ng-change="$ctrl.resetServerError()" required placeholder="{{::'PASSWORD_SET_NEW_PASSWORD' | translate }}"
                            class="form-control">
                        <span class="help-block" ng-show="passwordSetForm.password.$invalid && !passwordSetForm.password.$pristine" translate>PASSWORD_SET_PASSWORD_IS_REQUIRED</span>
                    </div>
                    <!-- Confirm password -->
                    <div class="form-group" ng-class="{ 'has-error' : passwordSetForm.confirmPassword.$invalid && !passwordSetForm.confirmPassword.$pristine }">
                        <input type="password" name="confirmPassword" ng-model="$ctrl.user.confirmPassword" required match="$ctrl.user.password"
                            ng-change="$ctrl.resetServerError()" placeholder="{{::'PASSWORD_SET_NEW_PASSWORD_REPEAT' | translate }}" class="form-control">
                        <span class="help-block" ng-show="passwordSetForm.confirmPassword.$error.required && !passwordSetForm.confirmPassword.$pristine" translate>PASSWORD_SET_PASSWORD_IS_REQUIRED</span>
                        <span class="help-block" ng-show="passwordSetForm.confirmPassword.$error.match && !passwordSetForm.confirmPassword.$pristine" translate>PASSWORD_SET_PASSWORDS_ARE_DIFFERENT</span>
                    </div>
                    <q-alerts ng-if="$ctrl.alerts" alerts="$ctrl.alerts"/>
                    <div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="passwordSetForm.$invalid">
                            <span translate>PASSWORD_SET_SAVE</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>