<div class="container identity">
    <h1 translate>PASSWORD_SET_TITLE</h1>
    <div class="form">
        <form name="passwordSetForm" ng-submit="::$ctrl.setPassword()" novalidate>
            <!-- Password -->
            <div class="form-group" ng-class="{ 'has-error' : passwordSetForm.password.$invalid && !passwordSetForm.password.$pristine }">
                <input type="password" name="password" ng-model="$ctrl.password" ng-change="$ctrl.resetServerError()" required placeholder="{{'PASSWORD' | translate }}"
                    class="form-control">
                <span class="help-block" ng-show="passwordSetForm.password.$invalid && !passwordSetForm.password.$pristine" translate>FIELD_IS_REQUIRED</span>
            </div>
            <!-- Confirm password -->
            <div class="form-group" ng-class="{ 'has-error' : passwordSetForm.confirmPassword.$invalid && !passwordSetForm.confirmPassword.$pristine }">
                <input type="password" name="confirmPassword" ng-model="$ctrl.confirmPassword" required match="$ctrl.password"
                    ng-change="$ctrl.resetServerError()" placeholder="{{'PASSWORD_REPEAT' | translate }}" class="form-control">
                <span class="help-block" ng-show="passwordSetForm.confirmPassword.$error.required && !passwordSetForm.confirmPassword.$pristine"
                    translate>FIELD_IS_REQUIRED</span>
                <span class="help-block" ng-show="passwordSetForm.confirmPassword.$error.match && !passwordSetForm.confirmPassword.$pristine"
                    translate>PASSWORDS_ARE_NOT_EQUAL</span>
            </div>
            <q-alerts ng-if="$ctrl.alerts" alerts="$ctrl.alerts" />
            <div>
                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="passwordSetForm.$invalid">
                    <span translate>SAVE</span>
                </button>
            </div>
        </form>
    </div>
</div>