<div class="two">
    <h1>{{::'YOUR_CARS' | translate}}</h1>
    <q-alerts alerts="$ctrl.alerts" />   
</div>
<div class="container">
    <div class="car-container">
        <q-client-car class=" display-block" ng-repeat="car in $ctrl.cars" car="car" on-delete="$ctrl.delete($event);" on-update="$ctrl.update($event);"
        />
        <q-client-car-new class="display-block" car="car" ng-if="!$ctrl.addMode" class="car-item car-item-add" on-add="$ctrl.toAddMode();"
        />
        <q-client-car-edit class="car-item display-block" car="car" ng-if="$ctrl.addMode" class="car-item car-item-add" on-save="$ctrl.add($event);"
            on-cancel="$ctrl.cancelAddMode();" />
    </div>
</div>