<style>
    .social p {
        font-size: 12px;
        line-height: 16.4px;
        letter-spacing: 0.24px;
        color: #7F7F7F;
    }
    
    .social ul {
        text-align: left;
        padding-left: 0;
    }
    
    .social ul li {
        display: inline;
    }
    
    div.social {
        margin-top: 20px;
        text-align: left;
    }
</style>
<div class="social">
    <p translate>AUTH_SOCIAL_TITLE</p>
    <ul>
        <li><a class="btn btn-social-icon btn-facebook" ng-click="::$ctrl.authFacebook()" href><span class="fa fa-facebook"></span></a></li>
        <li><a class="btn btn-social-icon btn-vk" ng-click="::$ctrl.authVk()" href><span class="fa fa-vk"></span></a></li>
    </ul>
</div>