<div>
    <div ng-if="$ctrl.loading" class="loader-wrapper">
        <div class="loader">Loading...</div>
    </div>
    <div ng-if="!$ctrl.loading">
        <q-no-data-found ng-if="!$ctrl.dialogs" />

        <div class="dialog-container-view">
            <q-dialogs
                profile-type="::$ctrl.profileType"
                dialogs="$ctrl.dialogs"
                change-selected-dialog="::$ctrl.changeSelectedDialog(dialog)">
            </q-dialogs>
            <q-chat-view profile-type="::$ctrl.profileType" selected-dialog="$ctrl.selectedDialog"></q-chat-view>
        </div>
    </div>
</div>
