<div class="content-block selection">
    <oi-select oi-options="s for s in $ctrl.statuses" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.orderStatus"
        placeholder="{{::'SEARCH_ORDERS_FILTERS_STATUSES' | translate }}"></oi-select>
</div>
<div class="content-block action">
    <button type="button" class="btn btn-cancel" ng-click="::$ctrl.cancel()">
        <span translate>SEARCH_ORDERS_FILTERS_CANCEL</span>
    </button>
    <button type="button" class="btn btn-action" ng-click="::$ctrl.apply()">
        <span translate>SEARCH_ORDERS_FILTERS_APPLY</span>
    </button>
</div>