doctype html
html
  head
    title= title
    
  body
    style.
      .links{
        font-size: 16px;
        float: right;
        margin-right: 6px;  
      }
      .allLinks{
        font-size: 20px;
      }
      .button_links{
        float: left;
        margin: 20px;
        width: 200px;
      }
      .del_btn{
        background: red;
      }
      .delete_form{
        display: inline-block;
      }
      .addCar{
        font-size: 25px;
        text-align: center;
        margin-top: 230px;
      }
      body{
        overflow-x: hidden;
        background: url(../img/bg.jpg) repeat 0 0 #eceee9;
      }
      .someLabel{
        font-size: 35px;
      }
      .carInput{
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        width: 400px;
        margin-top: 8px;
      }
      .textBox{
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
        width: 200px;
        margin-top: 8px;
      }
      .carSubmit{
        border: none;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #555555;
        font-size: 25px;
        width: 400px;
      }
      .carSubmit:hover{
        background-color: #555555;
        color: white;
      }
      .addCarSubmit{
        border: none;
        padding: 8px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: #3B5B49;
        border: 2px solid #3B5B49;
        font-size: 25px;
        width: 200px;
      }
      .addCarSubmit:hover{
        background-color: #3B5B49;
        color: white;
      }

    block content
