<div class="order-details">
    <div ng-if="$ctrl.loading" class="loader-wrapper">
        <div class="loader">Loading...</div>
    </div>
    <div ng-if="!$ctrl.loading">
        <q-no-data-found ng-if="!$ctrl.order" />

        <div class="field layout-column summary summary-title">
            <h2>{{$ctrl.order.title}}</h2>
        </div>
    
        <div class="field summary summary-description">
            <span class="group-caption" translate>DESCRIPTION</span>
            <div>{{$ctrl.order.description}}</div>
        </div>
    
        <div class="summary summary-details">
            <div class="summary-details-section">
                <span class="details-unit"><i class="fa fa-cogs" aria-hidden="true"></i>{{$ctrl.order.spareType}}</span>
                <span class="details-unit"><span ng-class="{'line-through': !$ctrl.order.spare.isNewDetail}">Новые</span>/<span>Б.у.</span></span>
                <span class="details-unit"><i class="fa fa-clock-o" aria-hidden="true"></i>{{$ctrl.order.resolutionDate}}</span>
            </div>
            <div class="summary-details-section">
                <span><i class="fa fa-car" aria-hidden="true"></i>{{$ctrl.order.client.car.mark}}</span>
                <span>{{$ctrl.order.client.car.model}}</span>, 
                <span>{{$ctrl.order.client.car.year}}</span>, 
                <span>{{$ctrl.order.client.car.engineType}}</span>, 
                <span>{{$ctrl.order.client.car.engineCapacity}}</span>, 
                <span>{{$ctrl.order.client.car.gearbox}}</span>, 
                <span class="details-unit">VIN: {{$ctrl.order.client.car.VIN}}</span>
            </div>
            <div class="summary-details-section">
                <span class="details-unit"><i class="fa fa-user" aria-hidden="true"></i>{{$ctrl.order.client.contacts.name}}</span>
                <span class="details-unit"><i class="fa map-marker" aria-hidden="true"></i>{{$ctrl.order.client.contacts.city}}, {{$ctrl.order.client.contacts.address}}</span>
                <div ng-repeat="phone in $ctrl.order.client.contacts.phoneNumbers"><i class="fa fa-phone" aria-hidden="true"></i>{{phone}}</div>
            </div>
        </div>

        <ul class="order-dialog-list">
            <li ng-repeat="dialog in $ctrl.order.dialogs">
                <!-- ALSO SEEN OR NOT -->
                <div class="order-dialog-list-item">
                    <a href="#"><h2>SHOP: {{dialog.shop.name}}</h2></a>
                    <span class="dialog-last-msg">{{dialog.lastMessage.author.name}}: {{dialog.lastMessage.content}}</span>
                    <span class="dialog-last-msg-created">{{dialog.lastMessage.created}}</span>
                    <button>OPEN_DIALOG</button>
                </div>
            </li>
        </ul>
    </div>
</div>