<div class="panel enter single center" style="padding: 30px; text-align: center;">
	<h3>{{::$ctrl.title}}</h3>
	<div style="text-align: left">
		<input ng-model="$ctrl.contactName" placeholder="{{::$ctrl.contactNameAlt}}" style="width: 130px; height: 40px;margin-right: 10px;">
		<input ng-model="$ctrl.email" placeholder="{{::$ctrl.emailAlt}}" style="width: 130px; height: 40px;margin-right: 10px;">
		<input ng-model="$ctrl.phone" placeholder="{{::$ctrl.phoneAlt}}" style="width: 130px; height: 40px;margin-right: 10px;">
		<input type="password" ng-model="$ctrl.password" placeholder="{{::$ctrl.passwordAlt}}" style="width: 130px; height: 40px;margin-right: 10px;">
		<input type="password" ng-model="$ctrl.password2" placeholder="{{::$ctrl.password2Alt}}" style="width: 130px; height: 40px;">
	</div>
	<button type="button" ng-click="::$ctrl.register()" style="height: 40px; line-height: 40px;margin: 0; display: block; width:150px;">{{::$ctrl.registerActionText}}</button>
</div>