<style>
    .login-form {
        margin: 68px auto 38px;
        width: 490px;
        padding: 68px 40px;
        text-align: center;
    }
    
    .login-form input {
        width: 100%;
        margin: 0 0 20px 0;
        font-size: 1.1em;
        padding: 10px 15px;
        border-radius: 0px;
    }
    
    .login-form button {
        width: initial;
        padding: 10px 50px;
        text-align: start;
    }
    
    span.help-block {
        text-align: left;
    }
</style>
<div class="container">
    <form name="userForm" class="panel enter single center login-form" ng-submit="::$ctrl.login(userForm.$valid)">
        <h3>{{::$ctrl.title}}</h3>
        <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }"> 
            <input type="email" name="email" required ng-change="$ctrl.resetServerError()" ng-model="$ctrl.user.email" placeholder="{{::$ctrl.emailAlt}}">
             <span class="help-block" ng-show="userForm.email.$error.required && !userForm.email.$pristine">{{::$ctrl.alertEmailIsRequired}}</span>
		     <span class="help-block" ng-show="userForm.email.$error.email && !userForm.email.$pristine">{{::$ctrl.alertEmailIsNotCorrect}}</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <input type="password" name="password" ng-model="$ctrl.password" ng-change="$ctrl.resetServerError()" required placeholder="{{::$ctrl.passwordAlt}} ">
             <span class="help-block" ng-show="userForm.password.$invalid && !userForm.password.$pristine">{{::$ctrl.alertPasswordIsRequired}}</span>
        </div>
        <div style="text-align: start;">
            <button type="submit" class="btn btn-default" ng-disabled="userForm.$invalid" style="width: 100%; padding: 10px 35px; text-align: center;">
                <span>{{::$ctrl.loginActinonText}}</span>
            </button>
            <a class="recover" ui-sref="password-recovery" href="#/password-recovery" style="float: right;">{{::$ctrl.forgotPasswordLinkText}}</a>
        </div>
        <q-auth-social></q-auth-social>
    </form>
</div>