<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
            <h1 class="text-center input-title">{{::$ctrl.title}}</h1>
            <div class="input-wall">
                <img class="profile-img" src="/img/profile-img.png">
                <form class="form-input" ng-submit="::$ctrl.login()">
                    <div>
                        <input type="text" class="form-control" name="email" ng-model="$ctrl.email" placeholder="{{::$ctrl.emailAlt}}">
                    </div>
                    <div>
                        <input type="password" class="form-control" name="password" ng-model="$ctrl.password" placeholder="{{::$ctrl.passwordAlt}}">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block"><span>{{::$ctrl.loginActinonText}}</span></button>
                        <a class="pull-right need-help" ui-sref="password-recovery">{{::$ctrl.forgotPasswordLinkText}}</a>
                    </div>
                    <q-auth-social class="clear"></q-auth-social>
                </form>
            </div>
        </div>
    </div>
</div>