<style>
    .login-form {
        margin: 68px auto 38px;
        width: 490px;
        padding: 68px 40px;
        text-align: center;
    }
    
    .login-form input {
        width: 100%;
		font-size: 1.1em;
		padding: 10px 15px;
		border-radius: 0px;
    }
    
    .login-form button {
        		border-radius: 0px;
    }
    
    span.help-block {
        text-align: left;
    }
</style>
<div class="container">
    <form name="loginForm" class="panel enter single center login-form" ng-submit="::$ctrl.login(loginForm.$valid)">
        <h3>{{::$ctrl.title}}</h3>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }"> 
            <input type="email" name="email" required ng-change="$ctrl.resetServerError()" ng-model="$ctrl.user.email" placeholder="{{::$ctrl.emailAlt}}" class="form-control">
             <span class="help-block" ng-show="loginForm.email.$error.required && !loginForm.email.$pristine">{{::$ctrl.alertEmailIsRequired}}</span>
		     <span class="help-block" ng-show="loginForm.email.$error.email && !loginForm.email.$pristine">{{::$ctrl.alertEmailIsNotCorrect}}</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
            <input type="password" name="password" ng-model="$ctrl.password" ng-change="$ctrl.resetServerError()" required placeholder="{{::$ctrl.passwordAlt}}" class="form-control">
             <span class="help-block" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">{{::$ctrl.alertPasswordIsRequired}}</span>
        </div>
        <div style="text-align: start;">
            <button type="submit" class="btn btn-primary" ng-disabled="loginForm.$invalid" style="width: 100%; padding: 10px 35px; text-align: center;">
                <span>{{::$ctrl.loginActinonText}}</span>
            </button>
            <a class="recover" ui-sref="password-recovery" href="#/password-recovery" style="float: right;">{{::$ctrl.forgotPasswordLinkText}}</a>
        </div>
        <q-auth-social></q-auth-social>
    </form>
</div>