/*app.css*/

body {
  overflow-x: hidden;
  background-color: #e9ebee;
  height: 100vh;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.display-block {
  display: block;
}

.jumbotron {
  background-color: transparent;
}

a {
  color: #666666;
  text-decoration: underline;
}

.panel {
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn-action {
  border-radius: 20px;
  font-size: 18px;
  color: #fff;
  background-color: #ff6600;
  border-color: #e25d05;
}

.btn-action:focus,
.btn-action:hover {
  background-color: #e25d05;
  color: #fff;
  background-position: 0 -15px;
}