/*app.css*/

body {
  overflow-x: hidden;
  background-color: #fff;
  height: 100%;
}

.height-full {
  height: 100%;
}

.width-full {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

.jumbotron {
  background-color: transparent;
}

a {
  color: #666666;
  text-decoration: underline;
}

.panel {
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.left {
  float: left;
}

.right {
  float: right;
}