header {
  background: #7c7361;
  padding-top: 50px;
}

header h1, header h2, header h3, header h4, header h5, header p {
  text-shadow: 0 1px 3px rgba(0,0,0,0.6), 0 0 30px rgba(0,0,0,0.25);
}

header .container{
  background: url(/img/header-bg.png) no-repeat right bottom transparent;
}

header .container > div.heading-content-block.left{
  border: 1px red solid;
  margin-left: 40px;
}

header .container > div.heading-content-block.right{
  border: 1px green solid;
}

header .container > div.heading-content-block{
  display: inline-block;
  vertical-align: middle;
}

.logo-block{
  color: #ded2b8;
  padding: 10px;
}

.login-block{
  background: rgba(255, 255, 255, .8);
  width: 230px;
  padding: 5px 20px 10px;
}

.block {
    border-radius: 5px;
}

#login-header {
    text-align: center;
    margin-bottom: 10px;

}

.login-block .field-item {
    margin-bottom: 6px;
}

.login-block .btn {
    font-weight: bold;
    width: 100%;
}

.gray {
    background: #585a56;
    color: #ffffff;
}

.small-fields input[type="text"], input[type="password"] {
    padding: 6px 15px;
}

input[type="text"], input[type="password"], textarea {
    /*color: #4a4a4a;*/
    border-radius: 5px;
    border: 1px solid #cccccc;
    /*display: block;*/
    /*outline: none;*/
    width: 100%;
}

.login-block .field-item {
    margin-bottom: 6px;
}

.font-10 {
    font-size: 10px;
}

oi-select .select-search,
oi-select.open .select-search {
    border-radius: 15px;
}
