.new-order .progressbar {
    margin-top: 50px;
}

.new-order .new-order-step-wrapper {
    margin-top: 120px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.new-order .new-order-step-wrapper .align-progressbar {
    padding-left: 8%;
    padding-right: 8%;
}

.new-order-step-wrapper .btn-back {
    margin-right: 20px;
}

.new-order-step-wrapper .btn {
    padding-left: 20px;
    padding-right: 20px;
}

.new-order-step-wrapper .start .notice-popover {
    cursor: pointer;
    padding: 0 3px 0 0;
    display: none;
}

.new-order-step-wrapper .start .notice-block {
    display: none;
}


/* SM && md && lg */

@media only screen and (min-width: 768px) {
    .new-order-step-wrapper .start {
        justify-content: space-between;
    }
    .new-order-step-wrapper .start .about {
        max-width: 400px;
    }
    .new-order-step-wrapper .start .notice-block {
        display: block;
        max-width: 280px;
    }
}


/* xs */

@media only screen and (max-width: 767px) {
    .new-order-step-wrapper .start .notice-popover {
        display: inline;
    }
}


/* xs && portrait */

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .notice-popover-container {
        max-width: 200px;
    }
}