    .search-shop-options {
        width: 300px;
        min-width: 250px;
        max-width: 300px;
        padding: 5px;
    }

    .search-shop-options oi-select {
        width: 100%;
    }

	/*next is point to refactor:*/
	
	.order-registration-title h1{
        font-size: 40px;
        font-weight: bold;
		color: #fff;
    }
	
	.order-registration {
		width: 635px;
		min-width: 635px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	.order-registration-about {
		display: block;
		margin-bottom: 20px;
		width: 615px;
		height: 100px;
		resize: none;
		border-radius: 15px;
        padding: 10px;
	}
	
	.order-registration-select {
		max-width: 200px;
		height: 40px;
		display: inline-block;
	}

	.order-registration-select-right-offset {
		margin-right: 10px;
	}
	
	.order-registration-action {
		width: 40%;
		display: inline-block;
	}
	.order-registration-action-button {
		margin: 0;
		display: block;
		width: 92%;
	}

    .order-registration	oi-select .select-dropdown {
		max-height: 130px;
	}