.search-shops {
    position: relative;
    min-height: 100%;
}

.search-shops.wrapper,
.search-shops-footer .wrapper {
    margin: 0 auto;
}

.clear:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.search-shops .filters .desktop,
.search-shops .filters .mobile,
.search-shops .map,
.search-shops .results {
    top: 50px;
}

.search-shops .filters .desktop,
.search-shops .filters .mobile {
    background-color: white;
}

.search-shops .filters .desktop .dropdown-wrapper {
    display: inline-block;
    margin-top: 10px;
}

.search-shops .filters .desktop .dropdown .dropdown-toggle {
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
}

.search-shops .filters .desktop .dropdown .dropdown-toggle:hover,
.search-shops .filters .desktop .dropdown.open .dropdown-toggle {
    background-color: #f9f6f6;
}

.search-shops .filters .desktop .dropdown .fa-caret-down,
.search-shops .filters .desktop .dropdown .fa-caret-up {
    padding-left: 5px;
}

.search-shops .filters .desktop .dropdown .fa-caret-down {
    display: inline-block;
}

.search-shops .filters .desktop .dropdown.open .fa-caret-down {
    display: none;
}

.search-shops .filters .desktop .dropdown .fa-caret-up {
    display: none;
}

.search-shops .filters .desktop .dropdown.open .fa-caret-up {
    display: inline-block;
}

.search-shops .filters .desktop .dropdown.open .search-shops .filters .desktop .selection oi-select:not(:last-child) {
    margin-right: 15px;
}

.search-shops .map {
    position: fixed;
    height: 100%;
}

.search-shops .map .loader-wrapper {
    height: 100%;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
}

.search-shops .results {
    position: relative;
}

.search-shops-footer {
    position: relative;
    height: 50px;
    z-index: 2;
}

.search-shops-footer .logo {
    height: 50px;
    padding: 10px;
}

.search-shops-footer ul.social-icons,
.search-shops-footer .social-icons li {
    display: inline-block;
}

.search-shops-footer ul.social-icons {
    margin-bottom: 0px;
    vertical-align: middle;
}

.search-shops .switch.outer-wrapper {
    position: fixed;
    bottom: 16px;
    text-align: center;
    width: 100%;
}

.search-shops .switch .inner-wrapper {
    display: inline-block;
    height: 35px;
    border-radius: 23px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    padding: 0 10px;
}

.search-shops .switch a {
    padding: 0 15px;
    line-height: 35px;
    color: #484848;
    text-decoration: none;
    text-decoration-line: none;
    cursor: pointer;
}

.search-shops .switch a:hover,
.search-shops .switch a:focus {
    color: #ff6600;
}

.search-shops .switch a:not(:last-child) {
    border-right: 1px solid #484848;
}

.search-shops .switch a i {
    position: relative;
    top: 1.5px;
    left: -5px;
    color: #b0b0b0;
}

.search-shops .switch .icon-filters {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(/img/filters2x.png);
    background-size: 14px 14px;
}


/*md & lg*/

@media only screen and (min-width: 992px) {
    .search-shops {
        margin-bottom: -50px;
    }
    .search-shops .map,
    .search-shops .map .loader-wrapper {
        width: 585px;
    }
    .search-shops .results,
    .search-shops-footer {
        top: 110px;
    }
    .search-shops .results {
        padding-right: 15px;
    }
    .search-shops .filters .desktop {
        height: 60px;
        position: fixed;
        z-index: 2;
    }
    .search-shops .filters .desktop .dropdown-menu {
        padding: 0 20px 20px;
    }
    .search-shops .filters .desktop .dropdown-menu .content-block,
    .search-shops .filters .desktop .dropdown-menu .content-block.selection oi-select:not(:first-child),
    .search-shops .filters .desktop .dropdown-menu .content-block.work div:last-child {
        padding-top: 20px;
    }
    .search-shops .filters .desktop .state,
    .search-shops .filters .desktop .work {
        display: block;
        text-align: left;
    }
    .search-shops .filters .desktop .state div {
        padding-left: 20px;
        display: inline-block;
    }
    .search-shops .filters .desktop .action {
        padding-top: 40px;
    }
    .search-shops .filters .desktop .action .btn-cancel {
        background: none;
    }
    .search-shops .filters .desktop .action .btn-action {
        float: right;
    }
    .search-shops .filters .mobile {
        display: none
    }
}


/* lg */

@media only screen and (min-width: 1200px) {
    .search-shops.wrapper,
    .search-shops-footer .wrapper {
        width: 1170px;
    }
    .search-shops .map {
        left: 50%;
    }
    .search-shops .results {
        width: 50%;
        min-height: calc(100vh - 180px);
    }
    .search-shops .filters .desktop {
        width: 570px;
    }
    .search-shops .filters .desktop .dropdown-menu {
        width: 570px;
    }
}


/* md */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .search-shops.wrapper,
    .search-shops-footer .wrapper {
        width: 970px;
    }
    .search-shops .map {
        left: 40%;
    }
    .search-shops .results {
        min-width: 370px;
        max-width: 375px;
        min-height: calc(100vh - 190px);
    }
    .search-shops .filters .desktop {
        width: 370px;
    }
    .search-shops .filters .desktop .dropdown-menu {
        width: 360px;
    }
    .search-shops .filters .desktop .dropdown-menu .content-block oi-select:last-child {
        margin-right: 10px;
    }
}


/*sm & xs*/

@media only screen and (max-width: 991px) {
    .search-shops .map {
        width: 100%;
    }
    .search-shops .map .loader-wrapper {
        width: 100%;
        z-index: 2;
    }
    .search-shops .results {
        position: relative;
        top: 50px;
        padding: 10px 15px 50px;
    }
    .search-shops .filters .desktop,
    .search-shops-footer {
        display: none;
    }
}


/* sm */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .search-shops-filters-tablet-header .title {
        font-size: 30px;
        text-align: center;
    }
    .search-shops-filters-tablet-body .content-block,
    .search-shops-filters-tablet-body .content-block.selection oi-select:not(:first-child),
    .search-shops-filters-tablet-body .content-block.work div:last-child {
        padding-top: 20px;
    }
    .search-shops-filters-tablet-body .state,
    .search-shops-filters-tablet-body .work {
        display: block;
        text-align: left;
    }
    .search-shops-filters-tablet-body .state div {
        padding-left: 20px;
        display: inline-block;
    }
    .search-shops-filters-tablet-body .action {
        padding-top: 40px;
    }
    .search-shops-filters-tablet-body .action .btn-cancel {
        background: none;
    }
    .search-shops-filters-tablet-body .action .btn-action {
        float: right;
    }
    .search-shops .filters .desktop,
    .search-shops .filters .mobile {
        display: none;
    }
}


/* xs */

@media only screen and (max-width: 767px) {
    .search-shops .filters .mobile {
        width: 100%;
        height: 100%;
        margin-top: 75px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        max-width: 500px;
        padding: 0 25px 25px;
    }
    .search-shops .filters .mobile .title {
        font-size: 30px;
        padding-bottom: 20px;
    }
    .search-shops .filters .mobile .content-block,
    .search-shops .filters .mobile .content-block.selection oi-select:not(:first-child),
    .search-shops .filters .mobile .content-block.work div:last-child {
        padding-top: 20px;
    }
    .search-shops .filters .mobile .state,
    .search-shops .filters .mobile .work {
        display: block;
        text-align: left;
    }
    .search-shops .filters .mobile .state div {
        padding-left: 20px;
        display: inline-block;
    }
    .search-shops .filters .mobile .action {
        padding-top: 40px;
        text-align: left;
        justify-content: flex-end;
    }
    .search-shops .filters .mobile .action .btn-cancel {
        background: none;
    }
    .search-shops .filters .mobile .action .btn-action {
        float: right;
    }
    .search-shops .filters .desktop {
        display: none;
    }
}

.shop-result-layout {
    background-color: #f9f6f6;
    border-color: #aaa;
    padding: 10px 10px 0px 10px;
    margin-bottom: 10px;
}

.shop-result-layout .tabset-headings {
    display: inline-block;
    height: 200px;
}

.shop-result-layout .tabset-headings .tab-heading {
    width: 40px;
    height: 40px;
    text-align: center;
}

.shop-result-layout .tabset-headings .tab-heading label {
    font-size: 20px;
    line-height: 40px;
    width: 100%;
    cursor: pointer;
}

.shop-result-layout .tabset-headings .tab-heading label:hover {
    background-color: #eee;
    border-radius: 5px 0 0 5px;
}

.shop-result-layout .tabset-headings .tab-heading input:checked~label {
    background-color: white;
}

.shop-result-layout .tabset-contents {
    height: 200px;
    padding-left: 10px;
    background-color: white;
}

.shop-result-layout .tabset-headings .tab-heading input {
    visibility: hidden;
    position: absolute;
}

.shop-result-layout .shop-heading {
    padding-top: 10px;
}

.shop-result-layout .shop-logo {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.shop-result-layout .shop-address {
    height: 40px;
}

.shop-result-layout .shop-about {
    height: 70px;
}

.shop-result-layout .shop-number {
    height: 20px;
}

.shop-result-layout .shop-about,
.shop-result-layout .shop-address,
.shop-result-layout .shop-number {
    overflow: hidden;
}


.shop-result-layout .result-action {
    height: 40px;
    text-align: right;
    padding: 5px 0;
}

.shop-result-layout .result-action a {
    border-radius: 2px;
    color: #fff;
    background-color: #ff6600;
    border-color: #e25d05;
    width: 130px;
    line-height: 30px;
    font-size: 14px;
    text-decoration: none;
    padding: .2em 1.2em;
}

.shop-result-layout .result-action a:focus,
.shop-result-layout .result-action a:hover {
    background-color: #e25d05;
    color: #fff;
}

.shop-result-layout .list-heading {
    padding-top: 10px;
    text-align: center;
}

.shop-result-layout .cities-list,
.shop-result-layout .cars-list,
.shop-result-layout .spare-types-list {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 10px 0;
    margin: 0;
    height: 170px;
    overflow-y: auto;
}

.shop-result-layout .cities-list .item,
.shop-result-layout .spare-types-list .item,
.shop-result-layout .cars-list .item {
    list-style-position: inside;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 0px;
    margin-top: 5px;
    height: auto;
}

.shop-result-layout .spare-types-list .item {
    flex-basis: calc(50% - 10px);
}

.shop-result-layout .cities-list .item,
.shop-result-layout .cars-list .item {
    flex: 1 0 calc(33% - 10px);
}

.shop-result-layout .working-hours-list {
    height: 180px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
}

.shop-result-layout .working-hours-list li {
    page-break-inside: avoid;
    break-inside: avoid;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .shop-result-layout .spare-types-list .item {
        flex-basis: calc(100% - 10px);
    }
    .shop-result-layout .cities-list .item,
    .shop-result-layout .cars-list .item {
        flex: 1 0 calc(50% - 10px);
    }
}

@media only screen and (max-width: 767px) {
    .shop-result-layout .spare-types-list .item {
        flex-basis: calc(100% - 10px);
    }
    .shop-result-layout .cities-list .item,
    .shop-result-layout .cars-list .item {
        flex: 1 0 calc(50% - 10px);
    }
}