<form name="settingsMainForm" ng-submit="::$ctrl.changeOptions(settingsMainForm.$valid)" class="layout-column" novalidate>
    <!--City-->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : settingsMainForm.city.$invalid && !settingsMainForm.city.$pristine }">
        <div class="settings-line-caption" translate>Города</div>
        <div class="layout-column settings-line-content-input" style="position: relative;">
            <oi-select oi-options="c for c in $ctrl.citiess" name="city" ng-model="$ctrl.cities" multiple placeholder="Выберите обслуживаемые города"
                oi-select-options="{closeList: false}" ng-change="$ctrl.resetServerError()" required multiple-placeholder="add"
                list-placeholder="not found"></oi-select>
                <span class="help-block" ng-show="settingsMainForm.city.$invalid && !settingsMainForm.city.$pristine" translate>REGISTRATION_SHOP_CITIES_IS_NOT_CORRECT</span>
        </div>
    </div>
    <!--Category-->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : settingsMainForm.category.$invalid && !settingsMainForm.category.$pristine }">
        <div class="settings-line-caption" translate>Категории запчастей</div>
        <div class="layout-column settings-line-content-input" style="position: relative;">
            <oi-select oi-options="c for c in $ctrl.categories" name="category" ng-model="$ctrl.spareCategories" multiple placeholder="Выберите обслуживаемые категории запчастей"
                oi-select-options="{closeList: false}" ng-change="$ctrl.resetServerError()" required multiple-placeholder="add"
                list-placeholder="not found"></oi-select>
                <span class="help-block" ng-show="settingsMainForm.category.$invalid && !settingsMainForm.category.$pristine" translate>REGISTRATION_SHOP_CATEGORIES_IS_NOT_CORRECT</span>
        </div>
    </div>
    <!--Auto-->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : settingsMainForm.auto.$invalid && !settingsMainForm.auto.$pristine }">
        <div class="settings-line-caption" translate>Обслуживаемые автомобили</div>
        <div class="layout-column settings-line-content-input" style="position: relative;">
            <oi-select oi-options="c for c in $ctrl.carMarkss" name="auto" ng-model="$ctrl.carMarks" multiple placeholder="Выберите обслуживаемые категории запчастей"
                oi-select-options="{closeList: false}" ng-change="$ctrl.resetServerError()" required multiple-placeholder="add"
                list-placeholder="not found"></oi-select>
                <span class="help-block" ng-show="settingsMainForm.auto.$invalid && !settingsMainForm.auto.$pristine" translate>REGISTRATION_SHOP_AUTO_IS_NOT_CORRECT</span>
        </div>
    </div>
    <!--Schedule-->

    <div ng-repeat="(key, value) in $ctrl.schedule" class="form-group layout-row layout-wrap" style="margin-top: 5px;">
        <div class="settings-line-caption" translate>{{::key | translate}}</div>
        <div class="layout-column settings-line-content-input layout-row layout-wrap" style="position: relative;">
            <input type="checkbox" ng-model="value.active" style="width: 20px; height: 20px; margin-top: 8px;  margin-right: 10px;">
            <oi-select oi-options="hour disable when (hour > value.to) for hour in $ctrl.hours" ng-model="value.from" ng-disabled="!value.active"
                style="width: 80px;"></oi-select>
                <div style="margin-top: 8px; margin-left: 10px; margin-right: 10px;">-</div>
                <oi-select oi-options="hour disable when (hour < value.from) for hour in $ctrl.hours" ng-model="value.to" ng-disabled="!value.active"
                    style="width: 80px;"  ></oi-select>
                    <div ng-if="::$first">
                        <a ng-click="$ctrl.allCheckbox()" href style="width: 20px; height: 20px; margin-top: 15px;  margin-left: 10px;">Применить ко всем</a>
                    </div>
        </div>
    </div>

    <!-- Alerts -->
    <div ng-show="$ctrl.alerts" class="form-group layout-row layout-wrap">
        <div class="settings-line-caption"></div>
        <div class="layout-column  settings-line-content-input">
            <q-alerts alerts="$ctrl.alerts" />
        </div>
    </div>
    <!-- Submit -->
    <div class="form-group layout-row layout-wrap" ng-class="{ 'has-error' : $ctrl.serverErrorMessage }">
        <div class="settings-line-caption"></div>
        <div class="layout-row settings-line-content-input">
            <button type="submit" class="btn btn-primary settings-line-content-submit" ng-disabled="settingsMainForm.$invalid">
                <span>Сохранить</span>
            </button>
        </div>
    </div>
</form>