extends layout

block content
    div.center
        label Вопросы в базе данных
    div    
        div.cbm_wrap_button
            div.wrapper_body_button
                a.addCarSubmit(href="/admin") Главная страница      
    p
        div.float
            div.cbm_wrap_button
                div.wrapper_body_button
                    a.addCarSubmit(href="/questionAnswer/allQuestionAnswer/add") Добавить
    each question in questions
        div.float
            div.cbm_wrap
                div.wrapper_body
                    form(action='/questionAnswer/allQuestionAnswer/delete', method='POST')
                        a.allLinks(href="/questionAnswer/allQuestionAnswer/#{question._id}") #{question.question}               
                        input(type='hidden', value=question.id, name='id')
                        button.close(type='submit' title='Удалить' onclick="return confirm('Вы уверены?') ? true : false;").
                            X