doctype html
html
  head
    title= title
    
  body
    style.
      .addCar{
        font-size: 25px;
        text-align: center;
        margin-top: 230px;
      }
      .float {
        float: left;
      }
      .wrapper_body_button {
        margin-top: 10px;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        color: #000 ;
        text-align: center;   
      }
      .cbm_wrap_button {
          background: #000;
          margin: 5px;
          height: 55px;
          width: 210px;
          box-sizing: border-box;
          border: 2px solid #fff;
          border-radius: 4px;
          font-size: 16px;
      }
      .wrapper_body_button_center {
        margin-top: 10px;
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        color: #000 ;
        text-align: center;   
      }
      .cbm_wrap_button_center {
          background: #000;
          height: 55px;
          margin: auto;
          margin-top: 10px;
          width: 210px;
          box-sizing: border-box;
          border: 2px solid #fff;
          border-radius: 4px;
          font-size: 16px;
      }
      .center {
        font-size: 40px;
        text-align: center;
      }
      .close {
          position: sticky;
          margin-top: 2px;
          margin-right: 2px;
          float: right;
          background-color: #c00000;
          border-radius: 50%;
          border: none;
          width: 20px;
          height: 20px;
      }
      .close:hover {
        color: red;
      }
      .wrapper_body {
          font-size: 11px;
          font-family: 'Open Sans', sans-serif;
          color: #4A4A4A;
          text-align: center;
          word-wrap: break-word;
      }
      .cbm_wrap {
          background: #fff;
          margin: 10px;
          padding: 10px;
          height: auto;
          width: 300px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
      }
      .wrapper_body_center {
        font-size: 11px;
        font-family: 'Open Sans', sans-serif;
        color: #4A4A4A ;
        text-align: center;   
      }
      .cbm_wrap_center {
          background: #fff;
          margin: auto;
          margin-top: 10px;
          width: 400px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
      }
      .allLinks {
          text-decoration: none;
          height: 30px;
          width: 200px;
          color: #4A4A4A !important;
          font-size: 20px;
      }
      .allLinks:hover{
        text-decoration: underline;
      } 
      body{
        background: #eceee9;
      }
      .carSubmit{
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        background-color: white;
        color: black;
        width: 200px;
        height: 35px;
      }
      .addCarSubmit{
        text-decoration: none;
        border:none;
        font-family: 'Open Sans', sans-serif;
        background-color: transparent;
        text-align: center;
        font-size: 20px;
        cursor: pointer;
        width: 200px;
        color: white;        
      }
      .addCarSubmit:hover{
        text-decoration: underline;
      }

      .carSubmitTextArea {
        max-width: 390px;
        min-width: 390px;
        width: 390px;
        min-height: 150px;
        border: none;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        cursor: pointer;
        background-color: white;
        color: black;
      }
    block content