<div class="container">
    <div class="row">
        <div class="col-sm-8 col-md-6 col-md-offset-3 col-sm-offset-2">
            <h1 class="text-center input-title" translate>LOGIN_TITLE</h1>
            <div class="input-wall">
                <img class="profile-img" src="/img/profile-img.png">
                <form name="loginForm" class="form-input" ng-submit="::$ctrl.login(loginForm.$valid)">
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                        <input type="email" name="email" ng-model="$ctrl.user.email" placeholder="{{::'LOGIN_EMAIL' | translate }}" class="form-control" ng-change="$ctrl.resetServerError()"
                            required>
                        <span class="help-block" ng-show="loginForm.email.$error.required && !loginForm.email.$pristine" translate>LOGIN_EMAIL_IS_REQUIRED</span>
                        <span class="help-block" ng-show="loginForm.email.$error.email && !loginForm.email.$pristine" translate>LOGIN_EMAIL_IS_NOT_CORRECT</span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                        <input type="password" name="password" ng-model="$ctrl.user.password" placeholder="{{::'LOGIN_PASSWORD' | translate }}" class="form-control"
                            ng-change="$ctrl.resetServerError()" required>
                        <span class="help-block" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" translate>LOGIN_PASSWORD_IS_REQUIRED</span>
                    </div>
                    <q-alerts ng-show="$ctrl.alerts" alerts="$ctrl.alerts"/>
                    <div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">
                            <span translate>LOGIN_SIGN_IN</span>
                        </button>
                        <a class="pull-right need-help" ui-sref="anon.password-recovery" translate>LOGIN_FORGOT_PASSWORD</a>
                    </div>
                    <q-auth-social></q-auth-social>
                </form>
            </div>
        </div>
    </div>
</div>