<div class="content-block selection">
    <oi-select oi-options="c for c in $ctrl.cities" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.orderCity"
        placeholder="{{'Город' | translate }}"></oi-select>
    <oi-select oi-options="c for c in $ctrl.carMarks" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.carMark"
        placeholder="{{'Марка' | translate }}"></oi-select>
    <oi-select oi-options="st for st in $ctrl.spareTypes" oi-select-options="{ cleanModel: true }" ng-model="$ctrl.filters.spareType"
        placeholder="{{'Раздел' | translate }}"></oi-select>
</div>

<div class="content-block">
    <span class="caption" translate>RESOLUTION_DATE</span>
    <div class="field short layout-column">
        <q-date-time-picker name="resolutionDate" ng-model="$ctrl.filters.maxResolutionDate" options="$ctrl.resolutionDateOptions"></q-date-time-picker>
    </div>
</div>

<div class="content-block state">
    <span translate>SPARE</span>
    <div>
        <input type="checkbox" name="details" id="newDetail" ng-model="$ctrl.filters.newDetail" ng-init="$ctrl.filters.newDetail=true">
        <span for="newDetail" translate>NEW</span>
    </div>
    <div>
        <input type="checkbox" name="details" id="oldDetail" ng-model="$ctrl.filters.usedDetail" ng-init="$ctrl.filters.usedDetail=true">
        <span for="oldDetail" translate>IN_USE</span>
    </div>
</div>

<div class="content-block action">
    <button type="button" class="btn btn-cancel" ng-click="::$ctrl.cancel()">
        <span translate>CANCEL</span>
    </button>
    <button type="button" class="btn btn-action" ng-click="::$ctrl.apply()">
        <span translate>APPLY</span>
    </button>
</div>